/* carousel */
.carousel .item {
    height:350px;
  }
body {
background-color: #BFBFBF!important;

}



/* text-input group */
.form-group{
      margin-right: 15%;
      margin-left: 15%;
}
.btn-primary {
  background-color: grey !important;
  margin-left: 45%;
  
  border-color: grey !important;

}

.jumbotron {
  padding-top: 10px !important;
  padding-bottom: 30px !important;
  margin-bottom: 30px;
  margin-left: 80px !important;
  margin-right: 80px !important;
  background-color: #EAEAEA!important;
  text-align: center;
}
body{
  background-color: bisque;
}

h1 {
  font-size: 42px !important;
  text-align: center !important;
}
#name-display{
align: center !important;
}