/* carousel */
.carousel .item {
    height: 300px;
  }
  .item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 300px;
}

/* text-input group */
.form-group{
      margin-right: 15%;
      margin-left: 15%;
}
.btn-primary {
  background-color: grey;
  margin-left: 50%;
  margin-right: 50%;
  size: 50px;

}
#all-display{
  margin-right: 200px;
  margin-left: 200px;
}
.jumbotron {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: inherit;
}
body{
  background-color: bisque;
}